<!DOCTYPE html>
<html>
<head>
<!--
--> 
{% include NISTPagesHeader.html %}

</head>
<body>
 
  {{ content }}
  <footer role="contentInfo" class="site-footer">
    <div class="section-container">
      <div class="section-content">     
      </div>
    </div>
  </footer>
 
<style>
  .custom-grey-footer a {
    color: #888888 !important;
    text-decoration: none !important;
  }
  .custom-grey-footer a:hover {
    text-decoration: underline !important;
  }
</style>

<div class="custom-grey-footer" style="color: #888888; font-size: 0.8em; text-align: center; margin-top: 30px;">
    {% include NISTPagesFooter.html %}
</div>
</body>
</html>
